<div class="row">
  <div class="col-1"></div>
  <h1 class="col-11">add a new recipe</h1>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-11"><%= form_for(@recipe) do |form| %>
  <%= form.label :URL %>
  <%= form.text_field :URL %>
  <%= submit_tag "Submit" %>
<%end%></div>
</div>
